body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
}

.header-logo {
  width: 200px;
  float: left;
  margin-right: 20px;
}

h1{
  font-family:"Apple SD Gothic Neo";
}

.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.trips-list{
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.trip{
  background-color: floralwhite;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 10px;
  min-height: 30px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}

.minibus-trip-icon{
  width: 35px;
  margin-right: 70px;
}

.trip span{
  margin-right: auto;
  align-content: space-between;
  font-family:"Apple SD Gothic Neo";
  font-size: 20px;
  font-weight: bold;

}


.trip button {
  font-family:"Apple SD Gothic Neo";
  font-size: 20px;
  font-weight: bold;
  background-color: #6790b2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.trip button:hover {
  background-color: #506c80;
}


.data-input-field{
  background-color: floralwhite;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 10px;
  min-height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.city-select-fields{
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
}

select {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

.arrow-right{
  width: 50px;
  height: auto;
}


.data-input-field button {
  font-family:"Apple SD Gothic Neo";
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.city-find-button button:hover{
  background-color: #419b35;
}

.footer {
  font-family:"Apple SD Gothic Neo";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color:black;
  padding: 20px;
}

.footer .links {
  font-family:"Apple SD Gothic Neo";
  float: left;
  margin-right: 20px;  /* Добавляем отступ справа, чтобы отделить от следующего блока */
}

.footer .numbers {
  font-family:"Apple SD Gothic Neo";
  float: left;
  margin: 0 auto;  /* Центрируем блок по горизонтали */
}

.footer .info {
  font-family:"Apple SD Gothic Neo";
  float: right;
}

